<p>
  create-team works!
</p>
<div class="container">
  <h4>Esquema tatico</h4>
  <select name="" id="" (change)="onChange($event)">
    <option *ngFor="let tatical of taticals"  value="{{tatical.id}}">{{tatical.scheme}}</option>
  </select>

  <div>
    <!-- <form> -->
      <input type="text" placeholder="GoalKeeper">
      <input type="text" placeholder="Defender">
      <input type="text" placeholder="Middle">
      <input type="text" placeholder="Offensive">      
      <button type="submit">Submit</button>
    <!-- </form> -->
  </div>
  
</div>

<div class="players">
  
</div>



